@extends 'layout.html'

@block content
    <h1 class="pb-2">Podcast search</h1>
    <form class="pb-2">
        <label for="terms" class="hidden">Terms:</label>
        <input type="search" name="terms" id="terms" />
        <input type="submit" value="search" />
    </form>
    <div class="flex flex-row flex-wrap">
        @if podcasts|length > 0
            @for podcast in podcasts
                @include 'podcasts/_podcast.html'
            @endfor
        @else
            No podcasts matching the search terms
        @endif
    </div>
@endblock
